img{
   width :500px;
}

h1{
	padding:50px;
	text-align: center;
}

body {
	background-color: LightBlue;
}

td{
	font-size: 40px;
	font-color: Red;
}

a:visited{
	color:White;
}



#homepageBackGround {
	background-color: firebrick;
}

#homepageImg {
	width : 642px;
	height : 470px;
	margin :10px;

}


#magicKingdomhomepage{
	color: crimson;
	font-size: 40px;
	font-weight: bold;
	font-weight: italic;
	background-color: skyblue;
	text-align: center;

}

#magicKingdomBackground {
	color: crimson;
	font-size: 28px;
	font-weight: bold;
	font-weight: italic;
	background-color: skyblue;
	font-family: Garamond, serif;
}

#fontRides{
	font-size: 25px;
	color: indigo;
}

#ridesFont{
	font-size: 40px;
	color: crimson;
	font-weight: bold;
}

#topRankings{
	font-size: 20px;
	background-color: crimson;
	font-weight: bold;
	color: white;
}

#epcotCountryThings{
	font-size: 20px;
	color: indigo;
}

#ridePhotos{
	width : 350px;
	height : 200px;
	margin :10px;
}

#epcotBackground {
	color: white;
	font-size: 28px;
	font-weight: bold;
	font-weight: italic;
	background-color: lavender;
	font-family: Garamond, serif;
}

#epcotRides{
	font-size: 25px;
	color: indigo;
}

#epcotFont{
	font-size: 40px;
	color: midnightblue;
	font-weight: bold;
}

#epcotTopRankings{
	font-size: 20px;
	background-color: lightblue;
	font-weight: bold;
	color: white;
}



#hollywoodBackground{
	color: crimson;
	font-size: 28px;
	font-weight: bold;
	font-weight: italic;
	background-color: indigo;
	font-family: Garamond, serif;
}

#hollywoodRides{
	font-size: 25px;
	color: whitesmoke;
}

#hollywoodFont{
	font-size: 40px;
	color: whitesmoke;
	font-weight: bold;
}

#hollywoodTopRankings{
	font-size: 20px;
	background-color: crimson;
	font-weight: bold;
	color: whitesmoke;
}

#worldShowcase{
	color: whitesmoke;
	font-size: 25px;
	text-align: center;
	background-color: lightblue;
}

#websitelinks{
	font-size: 15px;
	font-color: goldenrod;
}


#animalBackground {
	color: teal;
	font-size: 24px;
	font-weight: bold;
	font-weight: italic;
	background-color: mediumaquamarine;
	font-family: Garamond, serif;
}

#animalRides{
	font-size: 30px;
	color: whitesmoke;
}

#animalFont{
	font-size: 40px;
	color: teal;
	font-weight: bold;
}

#animalTopRankings{
	font-size: 20px;
	background-color: purple;
	font-weight: bold;
	color: whitesmoke;
}

#maps{
	width : 350px;
	height : 200px;
	margin :10px;

}


#restaurantshomepage{
	color: darkgoldenrod;
	font-size: 40px;
	font-weight: bold;
	font-weight: italic;
	background-color: darkred;
	text-align: center;

}	

#restaurantscolor{
	background-color: lightblue;
}

#worldshowcase{
	font-size: 20px;
	color: indigo;
}

#mexico{
	font-size: 30px;
	color: white;
	font-weight: bold;
	font-weight: italic;
}

#homepagetitle{
	font-size: 55px;
	color: darkslateblue;
	text-align: center;
	font-weight: italic;
	font-weight: bold;
	background-color: lightblue;
	font-family: Brush Script MT, cursive;
}

#picturetitles{
	font-size: 20px;
	color: white;
	font-weight: italic;
	font-weight: bold;
}

#epcotCountries{
	font-size: 28px;
	color: white;
	background-color: indigo;
}







